<%- include('partials/header') -%>
<div class="makecenter">
<h1 class="mainHeading">WELCOME ♥</h1>
<p><%= startingcontent %></p>

<% posts.forEach((post)=> { %>

<h1><%= post.title %></h1>
<p>
  <%= post.content.substring(0,100) + "...." %>
  <a href="/posts/<%= post._id %> ">Read more</a>
</p>
</div>
<% }); %> <%- include('partials/footer') -%>
